<a href="https://colab.research.google.com/github/dakotarawlings/weather_timeseries_analysis/blob/main/LSTM_wind_model/LSTM_model_building.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
@author Dakota Rawlings
@email dakota@mrl.ucsb.edu


"""

import sqlite3
import pandas as pd
from pandas import date_range

In [2]:
#Format a dataframe after impoting from SQL
def format_df(df_in):
    """Function for formatting a dataframe from the database file with model training NDBC data
    
    :type df_in: obj (dataframe) -  Dataframe that has been uploaded from NDBC SQL database
    :rtype dataframe - formatted dataframe
    """

    df=df_in.copy(deep=True)
    df["datetime"] = pd.to_datetime(df["datetime"])
    df=df.set_index('datetime')
    df["date"] = pd.to_datetime(df["date"])
    return df

In [11]:
#Establish connection with google drive directory
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [13]:
#specify directories for image data

data_path="/content/gdrive/My Drive/Colab Notebooks/LSTM_weather_model/NDBC_LSTM_building_database.db"

In [16]:
#Query cleaned data from DB
conn = sqlite3.connect(data_path)
df_training = pd.read_sql_query("SELECT * FROM NDBC_historical_data_for_training", conn, index_col=None)

In [17]:
df_training=format_df(df_training)

In [18]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3902 entries, 2003-06-14 to 2014-02-17
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              3902 non-null   int64
 1   WDIR               3902 non-null   float64
 2   WSPD               3902 non-null   float64
 3   GST                3902 non-null   float64
 4   PRES               3902 non-null   float64
 5   ATMP               3902 non-null   float64
 6   WTMP               3902 non-null   float64
 7   date               3902 non-null   datetime64[ns]
 8   const              3902 non-null   float64
 9   trend              3902 non-null   float64
 10  sin(1,freq=A-DEC)  3902 non-null   float64
 11  cos(1,freq=A-DEC)  3902 non-null   float64
 12  sin(2,freq=A-DEC)  3902 non-null   float64
 13  cos(2,freq=A-DEC)  3902 non-null   float64
 14  sin(3,freq=A-DEC)  3902 non-null   float64
 15  cos(3,freq=A-DEC)  3902 non-null   float64
 16  ATMP_lag_1         3902 non-null   float64
 17  ATMP_lag_2         3902 non-null   float64
 18  ATMP_lag_3         3902 non-null   float64
 19  ATMP_lag_4         3902 non-null   float64
 20  ATMP_lag_5         3902 non-null   float64
 21  ATMP_lag_6         3902 non-null   float64
 22  ATMP_lag_7         3902 non-null   float64
 23  ATMP_lag_8         3902 non-null   float64
 24  WTMP_lag_1         3902 non-null   float64
 25  WTMP_lag_2         3902 non-null   float64
 26  WTMP_lag_3         3902 non-null   float64
 27  WTMP_lag_4         3902 non-null   float64
 28  WTMP_lag_5         3902 non-null   float64
 29  WTMP_lag_6         3902 non-null   float64
 30  WTMP_lag_7         3902 non-null   float64
 31  WTMP_lag_8         3902 non-null   float64
 32  WSPD_lag_1         3902 non-null   float64
 33  WSPD_lag_2         3902 non-null   float64
dtypes: datetime64[ns](1), float64(32), int64(1)
memory usage: 1.0 MB

In [19]:
df_training.describe()

,index,WDIR,WSPD,GST,PRES,ATMP,WTMP,const,trend,"sin(1,freq=A-DEC)",...,WTMP_lag_1,WTMP_lag_2,WTMP_lag_3,WTMP_lag_4,WTMP_lag_5,WTMP_lag_6,WTMP_lag_7,WTMP_lag_8,WSPD_lag_1,WSPD_lag_2
count,3902.000000,3902.000000,3902.000000,3902.000000,3902.000000,3902.000000,3902.000000,3902.0,3902.000000,3902.000000,...,3902.000000,3902.000000,3902.000000,3902.000000,3902.000000,3902.000000,3902.000000,3902.000000,3902.000000,3902.000000
mean,1950.500000,311.182047,7.979709,9.533611,1016.817282,15.931752,16.055482,1.0,1959.500000,-0.024281,...,16.055815,16.055995,16.056354,16.056738,16.057020,16.057148,16.057225,16.057558,7.980708,7.981042
std,1126.554704,38.692239,2.779244,3.350396,3.980291,2.009402,2.081961,0.0,1126.554704,0.702537,...,2.082008,2.082042,2.082032,2.082049,2.082089,2.082076,2.082065,2.081920,2.779161,2.779206
min,0.000000,86.809935,1.399323,2.076996,997.700000,10.400000,11.400000,1.0,9.000000,-0.999991,...,11.400000,11.400000,11.400000,11.400000,11.400000,11.400000,11.400000,11.400000,1.399323,1.399323
25%,975.250000,288.000000,6.000000,7.100000,1014.100000,14.400000,14.400000,1.0,984.250000,-0.723262,...,14.400000,14.400000,14.400000,14.400000,14.400000,14.400000,14.400000,14.400000,6.000000,6.000000
50%,1950.500000,316.000000,7.500000,8.900000,1016.300000,15.800000,15.800000,1.0,1959.500000,-0.043022,...,15.800000,15.800000,15.800000,15.800000,15.800000,15.800000,15.800000,15.800000,7.500000,7.500000
75%,2925.750000,342.000000,9.700000,11.600000,1019.300000,17.200000,17.600000,1.0,2934.750000,0.672949,...,17.600000,17.600000,17.600000,17.600000,17.600000,17.600000,17.600000,17.600000,9.700000,9.700000
max,3901.000000,360.000000,17.300000,21.000000,1032.900000,23.800000,22.900000,1.0,3910.000000,0.999991,...,22.900000,22.900000,22.900000,22.900000,22.900000,22.900000,22.900000,22.900000,17.300000,17.300000